<br/><br/>
  <div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline13-list">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1><i class="fa fa-users"></i>&nbsp;Employee <span class="table-project-n"></span> List</h1>
                        </div>
                    </div>
                    <div class="sparkline13-graph">

  <ag-grid-angular 
  style="width:100%; height:360px;" 
  class="ag-theme-alpine"
  [frameworkComponents]="frameworkComponents" 
  [paginationPageSize]="10"
  [pagination]="true"
  [rowData]="rowData|async"
  [columnDefs]="columnDefs">
</ag-grid-angular>
</div>
</div>
</div>
</div>
</div>
</div>

